[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/realworldtek
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/realworldtek
	label-Verified = -1..+1 group user/realworldtek
	push = group user/realworldtek
	read = group user/realworldtek
	rebase = group user/realworldtek
	removeReviewer = group user/realworldtek
	submit = group user/realworldtek
[access "refs/heads/*"]
	create = group user/realworldtek
	push = +force group user/realworldtek
	pushMerge = group user/realworldtek
	read = group user/realworldtek
[access "refs/tags/*"]
	push = group user/realworldtek
	push = +force group user/realworldtek
